{% load staticfiles %}

<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src={% static "dashboard/elastico/images/img.jpg" %}  alt="">John Doe
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="javascript:;"> Profile</a></li>
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              </a>
            </li>
            <li><a href="javascript:;">Help</a></li>
            <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-globe"></i>
            <span class="badge bg-green">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
              <a>
                <span class="image"><img src={% static "dashboard/elastico/images/img.jpg" %} alt="Profile Image" /></span>
                <span>
                  <span>New Notification</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                  This could be the start of something new
                </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image"><img src={% static "dashboard/elastico/images/alert-icon-red-11.png" %} alt="Alert Icon" /></span>
                <span>
                  <span>ALERT: Something bad</span>
                  <span class="time">5 mins ago</span>
                </span>
                <span class="message">
                  You should really check this out now
                </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image"><img src= {% static "dashboard/elastico/images/2003_StockGraphic.png" %} alt="Stock Info" /></span>
                <span>
                  <span>Stock update</span>
                  <span class="time">6 mins ago</span>
                </span>
                <span class="message">
                  This thing just went through the roof
                </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->
  
